<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>TRB</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item routerLink="/main">
      <ion-avatar slot="start">
        <img src="../../assets/home-outline.svg" />
      </ion-avatar>
      <h4>Home</h4>
    </ion-item>
    <ion-item routerLink="/gallery">
      <ion-avatar slot="start">
        <img src="../../assets/images-outline.svg" />
      </ion-avatar>
      <h4>Gallery</h4>
    </ion-item>
    <ion-item routerLink="/about">
      <ion-avatar slot="start">
        <img src="../../assets/480px-Infobox_info_icon.svg.png" />
      </ion-avatar>
      <h4>About</h4>
    </ion-item>
    <ion-item routerLink="/home">
      <ion-avatar slot="start">
        <img src="../../assets/exit-outline.svg" />
      </ion-avatar>
      <h4>Exit</h4>
    </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title> <img src="../../assets/logo.png" alt="logo" width="60" height="40"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <img *ngIf="selectedImageSrc" [src]="selectedImageSrc" alt="Selected Image">

  <!-- <div *ngFor="let image of galleryData">
   <img [src]="image.url" alt="">
   <h3>{{image.name}}</h3>
  </div> -->
  </ion-content>
</div>


