<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>TRB</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item routerLink="/home">
      <ion-avatar slot="start">
        <img src="../../assets/home-outline.svg" />
      </ion-avatar>
      <h4>Home</h4>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/create-outline.svg" />
      </ion-avatar>
      <h4>Workpage</h4>
    </ion-item>
    <ion-item routerLink="/gallery">
      <ion-avatar slot="start">
        <img src="../../assets/images-outline.svg" />
      </ion-avatar>
      <h4>Gallery</h4>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/color-palette-outline.svg" />
      </ion-avatar>
      <h4>Filters</h4>
    </ion-item>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>TRB</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid style="margin-top:20px;" *ngIf="datas$ | async as datas">
      <ion-row>
        <ion-col *ngFor="let data of datas">
          <img [src]="data.Image" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="datas$ | async as datas">
      <ion-row>
        <ion-col *ngFor="let data of datas">
          <img [src]="data.Image" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="datas$ | async as datas">
      <ion-row>
        <ion-col *ngFor="let data of datas">
          <img [src]="data.Image" alt="">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>